# common
tqdm==4.62.3
pytest==6.2.5
cloudpickle==2.0.0
loky==3.0.0
distributed==2021.10.0
dask[complete]==2021.10.0
jupyter-server-proxy==3.1.0
cython==0.29.24
flask==2.0.2
ninja==1.10.2.2
loguru==0.5.3
plyfile==0.7.4
plotly==5.4.0
dacite==1.6.0

# databases
sqlalchemy==1.4.26
sqlalchemy_utils==0.37.9
psycopg2-binary==2.9.1
pymongo==3.12.1
boto3==1.19.7
urllib3==1.26.7
requests==2.26.0
pyarrow==6.0.0
fastparquet==0.7.1
pyspark==3.2.0
pyTelegramBotAPI==4.1.1
