# common
tqdm
pytest
cloudpickle
loky
jupyter-server-proxy
cython
flask
ninja
loguru
plyfile
plotly
dacite

# databases
sqlalchemy
sqlalchemy_utils
psycopg2-binary
pymongo
boto3
urllib3
requests
pyarrow
fastparquet
pyspark
pyTelegramBotAPI
