# common
tqdm
pytest
cloudpickle
loky
distributed
dask[complete]
jupyter-server-proxy
cython
flask
ninja
loguru
plyfile
plotly
dacite
h5py
mlflow

# databases
sqlalchemy
sqlalchemy_utils
psycopg2-binary
pymongo
boto3
urllib3
requests
pyarrow
fastparquet
pyspark
pyTelegramBotAPI
