# common
tqdm
pytest
cloudpickle
loky
distributed
dask[complete]
jupyter-server-proxy
cython
flask
ninja
loguru
plyfile
plotly
dacite
h5py

# databases
sqlalchemy
sqlalchemy_utils
psycopg2-binary
pymongo
boto3
urllib3
requests
git+https://github.com/python-telegram-bot/python-telegram-bot.git

# ml
numpy
pandas
patsy
matplotlib
seaborn
# scikit-learn
git+https://github.com/rgabdullin/scikit-learn.git@tqdm-gridsearchcv
scikit-image
statsmodels
imbalanced-learn

#dl
gym
pyffmpeg
open3d
opencv-python
accelerate
tensorboard
moviepy
